DB_TYPE=mysql
DB_HOST=localhost
DB_PORT=3001
DB_USER=root
DB_PASSWORD=root
DB_NAME=jiuwen_runtime
V_ENVS_ROOT=./venvs
IP=127.0.0.1
BASE_IMAGE=swr.cn-north-4.myhuaweicloud.com/openjiuwen/studio-python-tool-amd64:0.1.0
DEPLOY_DIR=./.deploys
